<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>org.awacity.map_drives</string>
        <key>ProgramArguments</key>
        <array>
                <string>/Library/Management/map_drives.sh</string>
        </array>
        <key>UserName</key>
        <string>root</string>
        <key>UserGroup</key>
        <string>wheel</string>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key>
        <integer>90</integer>
</dict>
</plist>
